# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

 ## **Objectives:**
- List popular languages data scientists use
- List popular data sciene libraries
- List open source development environment tools available for data science
- Arithmetic expressions: adding and multiplying
- Arithmetic expressions: division

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

### Some of the commonly used libraries used by Data Scientists include:

1. scikit-learn
2. tensorflow
3. PyTorch

|Data Science Tools|
|-------------------|
|RStudio|
|Apache Spark|
|TensorFlow|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

### This is a simple arithmetic expression to multiply then add integers

In [1]:
(3*4)+5

17

 ### This will convert 200 minutes to hours by diving by 60

In [9]:
hours = 200//60
minutes = 200%60
print(hours)
print("Hours and")
print(minutes)
print("minutes")

3
Hours and
20
minutes

## Author:

Ganesh Natarajan